<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><br>

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
                    <label for="Recipe Name">Recipe Name</label>
                    <input type="text" class="form-control" name="recipeName"[(ngModel)]="recipeName">
        
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
                    <label for="Type">Type</label>
                 <input type="text" class="form-control" name="type"[(ngModel)]="type">
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
                     <label for="Description">Description</label>
                     <input type="text" class="form-control" name="description"[(ngModel)]="description" >

                  </div>
                  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12">
                    <label for="Capacity">Posted Date</label>
                    <input type="date" name="postedDate" id="" class="form-control" [(ngModel)]="postedDate">

                 </div>

                
                 <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xxl-12"><br>
            
                        
                       <button class="btn btn-success" [disabled]="status" (click)="readValues()">Submit</button>
            
                 </div>
        </div>
    </div>
</div>